.lists{
    position: relative;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
    top: 30px;
}
#cher{
    position: absolute;
    top: 11.5px;
    left: 400px;
    background-color: blue;
    color: white;
    border-color: transparent;
    border-radius: 2px;
}
.hd{
    position: absolute;
    left: 700px;
    top: 10px;
}